<!DOCTYPE html>

<html lang="en">

  <head>
  <style>
 body {background-color:lightgray}
  h1   {color:blue}
  p    {color:green}
</style>
    <meta charset="utf-8">
    <title>BattleShips</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
  <div align="center">
  <a href="/registration">New Game!</a>
</div>
  </body>
</html>
