<div align="center">

<table border="2" width="250" cellpadding="10" cellspacing="5" bgcolor="#efefef">

<tr>
  <th width="15"></th>
  <th>A</th>
  <th>B</th>
</tr>

<tr>
  <th>1</th>
  <th>~</th>
  <th>~</th>
</tr>

<tr>
  <th>2</th>
  <th>~</th>
  <th>~</th>
</tr>

</table>
</div>