<div align="center">

<h1>BATTLESHIPS</h1>

<table border="4" width="200" cellpadding="20" cellspacing="10" bgcolor="#819FF7">

<tr>
  <th width="15"></th>
  <th>A</th>
  <th>B</th>
</tr>

<tr>
  <th>1</th>
  <th>~</th>
  <th>~</th>
</tr>

<tr>
  <th>2</th>
  <th>~</th>
  <th>~</th>
</tr>

</table>

<form action="/play" method="post">
  Make your move:
  <input  type="text" name="coordinate">
  <input type="submit" value="Fire!">
</form>

<% if @hit %>
    <p>HIT!</p>
<% elsif @hit == false %>
    <p>MISS!</p>
<% end %>

</div>

<%= session[:ship].inspect %>