<!DOCTYPE html>

<html lang="en">

  <head>
  <style>
 body {background-color:lightgray}
  h1   {color:green}
  p    {color:green}
</style>
    <meta charset="utf-8">
    <title>BattleShips</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
  <div align="center">

  <% if @player1 %>
    Welcome <%= @player1 %>!
    <a href="/play">Start Game</a>
  <% else %>
    <form action="/registration" method="post">
      Please enter your name:
      <input  type="text" name="Name">
      <input type="submit" value="Submit">
    </form>
  <% end %>

<% if @message %>
  <h1><%= @message %></h1>
<% end %>

</div>

  </body>
</html>
